<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.livroandroid.carros">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CarrosApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- Maps. -->
        <meta-data android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/MAPS_API_KEY"/>

        <!-- Permitir exportar arquivos para outros apps -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NavDrawer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="carros2.page.link" android:scheme="http"/>
                <data android:host="carros2.page.link" android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CarrosActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CarroActivity"
            android:parentActivityName=".activity.CarrosActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.WebViewActivity"
            android:label="@string/site_do_livro"
            android:parentActivityName=".activity.MainActivity" />
        <activity
            android:name=".activity.PreferencesActivity"
            android:parentActivityName=".activity.MainActivity" />


        <activity android:name=".activity.VideoActivity"
            android:parentActivityName=".activity.CarroActivity"/>

        <activity android:name=".activity.CarroFormActivity"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
             />
    </application>

</manifest>